@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    border: 10px;
    font-family:'Press Start 2P',cursive;
}

header {
    display: flex;
    justify-content: center; /* Mude para 'center' */
    gap: 30px; /* Adiciona um espaço entre o nome e o tempo */
    align-items: center;
    /* ... (resto do código igual) */
}